body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/static/xray_background.jpg');
    background-size: cover;
    background-position: center;
}


.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#file-name {
    margin-top: 10px;
    color: #555;
}

#image-display {
    margin-top: 20px;
    max-width: 100%;
    max-height: 300px;
    display: none;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.dropdown {
    margin-top: 20px;
}

.dropdown select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.download-link {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.download-link:hover {
    text-decoration: underline;
}